.vscode/**
.github/**
src/**
out/**
node_modules/**
images/icon.svg
tsconfig*.json
**/*.map
.gitignore
.vscode-test/**
.vscode-test.mjs
images/*.gif
CONTRIBUTING.md
SECURITY.md
scripts/**
release-notes.md
